agente_venta_parcelas-dF0keqbFkR4dUOSY.json
{"updatedAt":"2026-02-23T01:45:31.520Z","createdAt":"2026-02-23T01:34:07.740Z","id":"dF0keqbFkR4dUOSY","name":"AGENTE_VENTA_PARCELAS","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[3536,1760],"id":"ecbada48-ac6c-4d5e-ad48-657782f80327","name":"Wikipedia"},{"parameters":{"description":"Con esta herramienta obtienes el dígito verificador a partir de un rut.","jsCode":"function calcularDVRut(value) {\n\n  const rut = value.RUT;\n    console.log(\"rut:\",rut);\n  if (!rut) return null;\n  const clean = String(rut).replace(/[\\.\\-\\/\\s]/g, '').replace(/^0+/, '');\n  if (!/^\\d+$/.test(clean)) return null;\n\n  let sum = 0;\n  let multip = 2;\n  for (let i = clean.length - 1; i >= 0; i--) {\n    sum += parseInt(clean.charAt(i), 10) * multip;\n    multip = multip === 7 ? 2 : multip + 1;\n  }\n\n  const remainder = sum % 11;\n  const dvNumeric = 11 - remainder;\n  if (dvNumeric === 11) return '0';\n  if (dvNumeric === 10) return 'K';\n  return String(dvNumeric);\n}\n\n// Si recibes el rut desde otro nodo (por ejemplo un input)\nconst rut = query || '15670326';\n\n// Calcular el DV y devolver el resultado al flujo\nconst dv = calcularDVRut(rut);\n\n// Resultado que n8n podrá usar en los siguientes nodos\nreturn dv;","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"RUT\": \"15670326\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[3392,1760],"id":"6933c457-45d8-4a99-9f2a-bcce04bece6d","name":"obtener_digito_verificador_de_un_rut"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.from_id }}","contextWindowLength":6},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3024,1776],"id":"cf79c47e-5bf4-4669-beae-3006b3fff98a","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"UY8HiH7IEFKHrbiJ","name":"Postgres account"}}},{"parameters":{"toolDescription":"Gets the latest blog posts about any rss feed.","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `Use one of:\n- https://feeds.bbci.co.uk/news/world/rss.xml (BBC World – global headlines)\n- https://www.aljazeera.com/xml/rss/all.xml (Al Jazeera English – in‑depth global coverage)\n- http://rss.cnn.com/rss/edition_world.rss (CNN World – breaking news worldwide)\n- https://techcrunch.com/feed/ (TechCrunch – global tech & startup news)\n- http://news.ycombinator.com/rss (Hacker News – tech community headlines)\n- https://n8n.io/blog/rss (n8n Blog – updates & tutorials)\n- https://www.bonappetit.com/feed/recipes-rss-feed/rss (Bon Appétit – recent recipes list)\n- https://www.endsreport.com/rss/news-and-analysis (ENDS Report – environmental law & policy news)\n- https://medlineplus.gov/groupfeeds/new.xml (MedlinePlus – health topics & wellness updates)`, 'string') }}","options":{}},"id":"4dc385d1-1c3e-46d8-af92-0447cf8b4549","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Get News","type":"n8n-nodes-base.rssFeedReadTool","creator":"Lucas Peyrin","position":[3808,1712],"typeVersion":1.2,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"toolDescription":"Get weather forecast anywhere, anytime. You can make requests by assuming most information, the only thing you need is the location (use the city name to infer lat and long automatically) and time period (assume today if not specified)","url":"https://api.open-meteo.com/v1/forecast","sendQuery":true,"queryParameters":{"parameters":[{"name":"latitude","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Latitude of the location, e.g. 45.75 for Lyon. Do not ask the user just infer it automatically.`, 'string') }}"},{"name":"longitude","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Longitude of the location, e.g. 4.85 for Lyon. Do not ask the user just infer it automatically.`, 'string') }}"},{"name":"current","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Comma-separated list of current weather variables (no whitespace).\n\nExample: temperature_2m,windspeed_10m,rain.\n\nOptions: temperature_2m,relative_humidity_2m,apparent_temperature,is_day,precipitation,rain,showers,snowfall,weathercode,cloudcover_total,pressure_msl,surface_pressure,windspeed_10m,winddirection_10m,windgusts_10m.`, 'string') }}"},{"name":"hourly","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Comma-separated list of hourly weather variables (no whitespace). Hourly is only useful to get one day's information. For weakly overview please use daily.\n\nExample: temperature_2m,precipitation.\n\nOptions: temperature_2m,relative_humidity_2m,dewpoint_2m,apparent_temperature,precipitation,rain,showers,snowfall,snow_depth,pressure_msl,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,windgusts_10m,visibility,is_day,sunshine_duration,soil_temperature,soil_moisture,PM10,PM2_5,carbon_monoxide,ozone,us_aqi,UV_index.`, 'string') }}"},{"name":"daily","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Comma-separated list of daily weather variables (no whitespace).\n\nExample: temperature_2m_max,precipitation_sum.\n\nOptions: weathercode,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,precipitation_sum,rain_sum,showers_sum,snowfall_sum,precipitation_hours,sunrise,sunset,daylight_duration,sunshine_duration,pressure_msl_max,pressure_msl_min,surface_pressure_max,surface_pressure_min,windgusts_10m_max,windspeed_10m_max,winddirection_10m_dominant,shortwave_radiation_sum.`, 'string') }}"},{"name":"start_date","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `Start date in YYYY-MM-DD format. Example: 2025-07-15`, 'string') }}"},{"name":"end_date","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `End date in YYYY-MM-DD format. Must be after start_date. Example: 2025-07-18`, 'string') }}"},{"name":"temperature_unit","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `Unit for temperature. Options: celsius (default), fahrenheit.`, 'string') }}"}]},"options":{}},"id":"49472c9a-959f-4bd6-891e-9d39daeb1cee","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Get_Weather","type":"n8n-nodes-base.httpRequestTool","creator":"Lucas Peyrin","position":[3648,1744],"typeVersion":4.2,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"documentId":{"__rl":true,"value":"1jaTLk5f93rHcd57irRJAY4BBACl2pfABsC2KDqxQrWo","mode":"list","cachedResultName":"stock-parcelas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jaTLk5f93rHcd57irRJAY4BBACl2pfABsC2KDqxQrWo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"stock-parcelas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jaTLk5f93rHcd57irRJAY4BBACl2pfABsC2KDqxQrWo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[3120,1776],"id":"da79eb83-05b3-463b-90d4-e6b060bfafd0","name":"get_stock_parcelas","credentials":{"googleSheetsOAuth2Api":{"id":"jCtV2JUcqU5DlJjk","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get row(s) in sheet in Google Sheets","documentId":{"__rl":true,"value":"1jaTLk5f93rHcd57irRJAY4BBACl2pfABsC2KDqxQrWo","mode":"list","cachedResultName":"stock-parcelas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jaTLk5f93rHcd57irRJAY4BBACl2pfABsC2KDqxQrWo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":327421045,"mode":"list","cachedResultName":"financiamiento","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jaTLk5f93rHcd57irRJAY4BBACl2pfABsC2KDqxQrWo/edit#gid=327421045"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[3248,1760],"id":"7bd5bc99-5fec-4ef5-991d-43452d82a9ae","name":"get_financiamiento_parcelas","credentials":{"googleSheetsOAuth2Api":{"id":"jCtV2JUcqU5DlJjk","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2960,1664],"id":"ee276ce8-cb36-49a9-afb5-94b65be89691","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"EMi1hptklrIUXsWy","name":"OpenAi account juanma"}}},{"parameters":{"promptType":"define","text":"=Nombre o apodo de usuario: {{ $json.notifyName }}\nensaje usuario:{{ $json.userPrompt }}","options":{"systemMessage":"=# ROL DEL ASISTENTE\nEres un Asesor Senior de Inversiones Inmobiliarias especializado en parcelas rurales en Chile. Tu tono es profesional, cercano, persuasivo y experto. Tu objetivo es ayudar al usuario a encontrar su parcela ideal basándote ÚNICAMENTE en el inventario disponible y cerrar la venta o agendar visita.\n\n# FUENTES DE VERDAD (PRIORIDAD ABSOLUTA)\nToda tu información proviene exclusivamente de dos herramientas:\n1. `get_stock_parcelas`: Contiene el inventario (Proyecto, Ubicación, Precio, Estado, Stock, Descripción).\n2. `get_financiamiento_parcelas`: Contiene las opciones de pago (Pie, Cuotas, Valor Contado vs. Valor Crédito).\n\n# REGLAS DE ORO (SEGURIDAD Y ALUCINACIONES)\n1. **PROHIBIDO INVENTAR:** Si un proyecto no aparece en `get_stock_parcelas`, NO EXISTE. No asumas nombres. Si el usuario pregunta por \"Parcelas en el sur\", busca en tu lista qué proyectos corresponden a esa zona (ej. Osorno, Puyehue).\n2. **DATOS EXACTOS:** Los precios (UF o CLP), metrajes y ubicaciones deben ser exactos según la tabla. No redondees a menos que sea evidente (ej. 2.800 UF).\n3. **CRUCE DE INFORMACIÓN:** Si el usuario muestra interés en un proyecto específico, DEBES consultar `get_financiamiento_parcelas` para informarle las opciones de pago (Pie y Cuotas) disponibles para ese proyecto.\n\n# INSTRUCCIONES DE INTERACCIÓN\n\n### FASE 1: CONSULTA Y FILTRADO\nSi el usuario saluda o pregunta \"¿Qué tienes disponible?\", no vomites toda la lista. Actúa como consultor:\n- Pregunta: \"¿Buscas inversión o vivir ahí?\", \"¿Prefieres playa, campo o sur?\", \"¿Qué presupuesto manejas?\".\n- **Sugerencia Inteligente:** Si el usuario dice \"quiero algo en la playa\", busca en tu herramienta proyectos en \"Valparaíso\" o \"Navidad\" (ej. Vive Puertecillo, Vive Matanzas) y sugiérelos.\n\n### FASE 2: PRESENTACIÓN DEL PRODUCTO\nCuando presentes un proyecto, usa este formato mental:\n- **Nombre:** [Nombre del Proyecto]\n- **Ubicación:** [Ubicación, Región]\n- **Gancho:** Usa la columna \"Descripción Resumida\" para vender el sueño (ej. \"Cercano a zona urbana\", \"Vista al mar\").\n- **Precio:** Desde [Precio] [Moneda].\n- **Estado:** Menciona si es \"Nuevo\" o \"Semi Nuevo\" y si quedan parcelas (Columna Disponibilidad).\n\n### FASE 3: CIERRE Y FINANCIAMIENTO\nSi el usuario pregunta precios o cuotas, usa `get_financiamiento_parcelas`:\n- Diferencia claramente el \"Valor Contado\" del \"Valor Financiamiento\".\n- Muestra el Pie mínimo y las opciones de cuotas (12, 24, 36) según corresponda.\n\n# MANEJO DE ERRORES Y DESCONOCIMIENTO\n- Si la herramienta falla: \"⚠️ En este momento no puedo acceder al inventario en tiempo real, pero cuéntame qué buscas y te contacto a la brevedad.\"\n- Si preguntan algo que no está en las tablas (ej. \"¿El terreno tiene agua potable instalada?\"): Si la columna descripción no lo dice, responde: \"Ese detalle técnico específico debo confirmarlo con el área de factibilidad. ¿Te gustaría que lo averigüe y te avise?\". NO inventes que sí tiene agua si no lo dice.\n\n# INFORMACIÓN DE CONTACTO\nSi preguntan quién eres o soporte: \"Soy un asistente IA entrenado para ayudarte a encontrar tu parcela. Para contacto humano directo o sugerencias: contacto@lacrea.tech\".\n\n# CONTEXTO ACTUAL\nFecha y Hora: {{ $now.setZone(\"America/Santiago\") }}\nUbicación contexto: Chile. Normativa: DL 3516 (Parcelas de agrado).","returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[3184,1488],"id":"ac6ab3ad-cd5d-45f7-a29a-95ba62e42489","name":"AI_AGENTE_VENTAS","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"8fcc6715-21f7-4190-b9ad-afd41ddcd7f5","name":"output","value":"={{ $('AI_AGENTE_VENTAS').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3648,1488],"id":"1d9f1f1a-099a-4301-8e46-5a087d756780","name":"Return"},{"parameters":{"workflowInputs":{"values":[{"name":"notifyName","type":"any"},{"name":"userPrompt","type":"any"},{"name":"from_id"}]}},"id":"20d60339-ca2c-4817-8d00-fd2b22a01f9c","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[2928,1488]}],"connections":{"Wikipedia":{"ai_tool":[[{"node":"AI_AGENTE_VENTAS","type":"ai_tool","index":0}]]},"obtener_digito_verificador_de_un_rut":{"ai_tool":[[{"node":"AI_AGENTE_VENTAS","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI_AGENTE_VENTAS","type":"ai_memory","index":0}]]},"Get News":{"ai_tool":[[{"node":"AI_AGENTE_VENTAS","type":"ai_tool","index":0}]]},"Get_Weather":{"ai_tool":[[{"node":"AI_AGENTE_VENTAS","type":"ai_tool","index":0}]]},"get_stock_parcelas":{"ai_tool":[[{"node":"AI_AGENTE_VENTAS","type":"ai_tool","index":0}]]},"get_financiamiento_parcelas":{"ai_tool":[[{"node":"AI_AGENTE_VENTAS","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI_AGENTE_VENTAS","type":"ai_languageModel","index":0}]]},"AI_AGENTE_VENTAS":{"main":[[{"node":"Return","type":"main","index":0}]]},"Start":{"main":[[{"node":"AI_AGENTE_VENTAS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"notifyName":"Mauricio","userPrompt":"hola me puedes ayudar ?","from_id":"6816213762118@lid"},"pairedItem":{"item":0}}]},"versionId":"e0f6e52b-2104-49f2-a8ac-10b046de4738","activeVersionId":"e0f6e52b-2104-49f2-a8ac-10b046de4738","triggerCount":0,"shared":[{"updatedAt":"2026-02-23T01:34:07.749Z","createdAt":"2026-02-23T01:34:07.749Z","role":"workflow:owner","workflowId":"dF0keqbFkR4dUOSY","projectId":"J3aP8RSCBI7nm6fz"}],"activeVersion":{"updatedAt":"2026-02-23T01:45:37.000Z","createdAt":"2026-02-23T01:45:19.187Z","versionId":"e0f6e52b-2104-49f2-a8ac-10b046de4738","workflowId":"dF0keqbFkR4dUOSY","nodes":[{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[3536,1760],"id":"ecbada48-ac6c-4d5e-ad48-657782f80327","name":"Wikipedia"},{"parameters":{"description":"Con esta herramienta obtienes el dígito verificador a partir de un rut.","jsCode":"function calcularDVRut(value) {\n\n  const rut = value.RUT;\n    console.log(\"rut:\",rut);\n  if (!rut) return null;\n  const clean = String(rut).replace(/[\\.\\-\\/\\s]/g, '').replace(/^0+/, '');\n  if (!/^\\d+$/.test(clean)) return null;\n\n  let sum = 0;\n  let multip = 2;\n  for (let i = clean.length - 1; i >= 0; i--) {\n    sum += parseInt(clean.charAt(i), 10) * multip;\n    multip = multip === 7 ? 2 : multip + 1;\n  }\n\n  const remainder = sum % 11;\n  const dvNumeric = 11 - remainder;\n  if (dvNumeric === 11) return '0';\n  if (dvNumeric === 10) return 'K';\n  return String(dvNumeric);\n}\n\n// Si recibes el rut desde otro nodo (por ejemplo un input)\nconst rut = query || '15670326';\n\n// Calcular el DV y devolver el resultado al flujo\nconst dv = calcularDVRut(rut);\n\n// Resultado que n8n podrá usar en los siguientes nodos\nreturn dv;","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"RUT\": \"15670326\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[3392,1760],"id":"6933c457-45d8-4a99-9f2a-bcce04bece6d","name":"obtener_digito_verificador_de_un_rut"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.from_id }}","contextWindowLength":6},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3024,1776],"id":"cf79c47e-5bf4-4669-beae-3006b3fff98a","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"UY8HiH7IEFKHrbiJ","name":"Postgres account"}}},{"parameters":{"toolDescription":"Gets the latest blog posts about any rss feed.","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `Use one of:\n- https://feeds.bbci.co.uk/news/world/rss.xml (BBC World – global headlines)\n- https://www.aljazeera.com/xml/rss/all.xml (Al Jazeera English – in‑depth global coverage)\n- http://rss.cnn.com/rss/edition_world.rss (CNN World – breaking news worldwide)\n- https://techcrunch.com/feed/ (TechCrunch – global tech & startup news)\n- http://news.ycombinator.com/rss (Hacker News – tech community headlines)\n- https://n8n.io/blog/rss (n8n Blog – updates & tutorials)\n- https://www.bonappetit.com/feed/recipes-rss-feed/rss (Bon Appétit – recent recipes list)\n- https://www.endsreport.com/rss/news-and-analysis (ENDS Report – environmental law & policy news)\n- https://medlineplus.gov/groupfeeds/new.xml (MedlinePlus – health topics & wellness updates)`, 'string') }}","options":{}},"id":"4dc385d1-1c3e-46d8-af92-0447cf8b4549","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Get News","type":"n8n-nodes-base.rssFeedReadTool","creator":"Lucas Peyrin","position":[3808,1712],"typeVersion":1.2,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"toolDescription":"Get weather forecast anywhere, anytime. You can make requests by assuming most information, the only thing you need is the location (use the city name to infer lat and long automatically) and time period (assume today if not specified)","url":"https://api.open-meteo.com/v1/forecast","sendQuery":true,"queryParameters":{"parameters":[{"name":"latitude","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Latitude of the location, e.g. 45.75 for Lyon. Do not ask the user just infer it automatically.`, 'string') }}"},{"name":"longitude","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Longitude of the location, e.g. 4.85 for Lyon. Do not ask the user just infer it automatically.`, 'string') }}"},{"name":"current","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Comma-separated list of current weather variables (no whitespace).\n\nExample: temperature_2m,windspeed_10m,rain.\n\nOptions: temperature_2m,relative_humidity_2m,apparent_temperature,is_day,precipitation,rain,showers,snowfall,weathercode,cloudcover_total,pressure_msl,surface_pressure,windspeed_10m,winddirection_10m,windgusts_10m.`, 'string') }}"},{"name":"hourly","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Comma-separated list of hourly weather variables (no whitespace). Hourly is only useful to get one day's information. For weakly overview please use daily.\n\nExample: temperature_2m,precipitation.\n\nOptions: temperature_2m,relative_humidity_2m,dewpoint_2m,apparent_temperature,precipitation,rain,showers,snowfall,snow_depth,pressure_msl,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,windgusts_10m,visibility,is_day,sunshine_duration,soil_temperature,soil_moisture,PM10,PM2_5,carbon_monoxide,ozone,us_aqi,UV_index.`, 'string') }}"},{"name":"daily","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Comma-separated list of daily weather variables (no whitespace).\n\nExample: temperature_2m_max,precipitation_sum.\n\nOptions: weathercode,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,precipitation_sum,rain_sum,showers_sum,snowfall_sum,precipitation_hours,sunrise,sunset,daylight_duration,sunshine_duration,pressure_msl_max,pressure_msl_min,surface_pressure_max,surface_pressure_min,windgusts_10m_max,windspeed_10m_max,winddirection_10m_dominant,shortwave_radiation_sum.`, 'string') }}"},{"name":"start_date","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `Start date in YYYY-MM-DD format. Example: 2025-07-15`, 'string') }}"},{"name":"end_date","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `End date in YYYY-MM-DD format. Must be after start_date. Example: 2025-07-18`, 'string') }}"},{"name":"temperature_unit","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `Unit for temperature. Options: celsius (default), fahrenheit.`, 'string') }}"}]},"options":{}},"id":"49472c9a-959f-4bd6-891e-9d39daeb1cee","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Get_Weather","type":"n8n-nodes-base.httpRequestTool","creator":"Lucas Peyrin","position":[3648,1744],"typeVersion":4.2,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"documentId":{"__rl":true,"value":"1jaTLk5f93rHcd57irRJAY4BBACl2pfABsC2KDqxQrWo","mode":"list","cachedResultName":"stock-parcelas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jaTLk5f93rHcd57irRJAY4BBACl2pfABsC2KDqxQrWo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"stock-parcelas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jaTLk5f93rHcd57irRJAY4BBACl2pfABsC2KDqxQrWo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[3120,1776],"id":"da79eb83-05b3-463b-90d4-e6b060bfafd0","name":"get_stock_parcelas","credentials":{"googleSheetsOAuth2Api":{"id":"jCtV2JUcqU5DlJjk","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get row(s) in sheet in Google Sheets","documentId":{"__rl":true,"value":"1jaTLk5f93rHcd57irRJAY4BBACl2pfABsC2KDqxQrWo","mode":"list","cachedResultName":"stock-parcelas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jaTLk5f93rHcd57irRJAY4BBACl2pfABsC2KDqxQrWo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":327421045,"mode":"list","cachedResultName":"financiamiento","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jaTLk5f93rHcd57irRJAY4BBACl2pfABsC2KDqxQrWo/edit#gid=327421045"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[3248,1760],"id":"7bd5bc99-5fec-4ef5-991d-43452d82a9ae","name":"get_financiamiento_parcelas","credentials":{"googleSheetsOAuth2Api":{"id":"jCtV2JUcqU5DlJjk","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2960,1664],"id":"ee276ce8-cb36-49a9-afb5-94b65be89691","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"EMi1hptklrIUXsWy","name":"OpenAi account juanma"}}},{"parameters":{"promptType":"define","text":"=Nombre o apodo de usuario: {{ $json.notifyName }}\nensaje usuario:{{ $json.userPrompt }}","options":{"systemMessage":"=# ROL DEL ASISTENTE\nEres un Asesor Senior de Inversiones Inmobiliarias especializado en parcelas rurales en Chile. Tu tono es profesional, cercano, persuasivo y experto. Tu objetivo es ayudar al usuario a encontrar su parcela ideal basándote ÚNICAMENTE en el inventario disponible y cerrar la venta o agendar visita.\n\n# FUENTES DE VERDAD (PRIORIDAD ABSOLUTA)\nToda tu información proviene exclusivamente de dos herramientas:\n1. `get_stock_parcelas`: Contiene el inventario (Proyecto, Ubicación, Precio, Estado, Stock, Descripción).\n2. `get_financiamiento_parcelas`: Contiene las opciones de pago (Pie, Cuotas, Valor Contado vs. Valor Crédito).\n\n# REGLAS DE ORO (SEGURIDAD Y ALUCINACIONES)\n1. **PROHIBIDO INVENTAR:** Si un proyecto no aparece en `get_stock_parcelas`, NO EXISTE. No asumas nombres. Si el usuario pregunta por \"Parcelas en el sur\", busca en tu lista qué proyectos corresponden a esa zona (ej. Osorno, Puyehue).\n2. **DATOS EXACTOS:** Los precios (UF o CLP), metrajes y ubicaciones deben ser exactos según la tabla. No redondees a menos que sea evidente (ej. 2.800 UF).\n3. **CRUCE DE INFORMACIÓN:** Si el usuario muestra interés en un proyecto específico, DEBES consultar `get_financiamiento_parcelas` para informarle las opciones de pago (Pie y Cuotas) disponibles para ese proyecto.\n\n# INSTRUCCIONES DE INTERACCIÓN\n\n### FASE 1: CONSULTA Y FILTRADO\nSi el usuario saluda o pregunta \"¿Qué tienes disponible?\", no vomites toda la lista. Actúa como consultor:\n- Pregunta: \"¿Buscas inversión o vivir ahí?\", \"¿Prefieres playa, campo o sur?\", \"¿Qué presupuesto manejas?\".\n- **Sugerencia Inteligente:** Si el usuario dice \"quiero algo en la playa\", busca en tu herramienta proyectos en \"Valparaíso\" o \"Navidad\" (ej. Vive Puertecillo, Vive Matanzas) y sugiérelos.\n\n### FASE 2: PRESENTACIÓN DEL PRODUCTO\nCuando presentes un proyecto, usa este formato mental:\n- **Nombre:** [Nombre del Proyecto]\n- **Ubicación:** [Ubicación, Región]\n- **Gancho:** Usa la columna \"Descripción Resumida\" para vender el sueño (ej. \"Cercano a zona urbana\", \"Vista al mar\").\n- **Precio:** Desde [Precio] [Moneda].\n- **Estado:** Menciona si es \"Nuevo\" o \"Semi Nuevo\" y si quedan parcelas (Columna Disponibilidad).\n\n### FASE 3: CIERRE Y FINANCIAMIENTO\nSi el usuario pregunta precios o cuotas, usa `get_financiamiento_parcelas`:\n- Diferencia claramente el \"Valor Contado\" del \"Valor Financiamiento\".\n- Muestra el Pie mínimo y las opciones de cuotas (12, 24, 36) según corresponda.\n\n# MANEJO DE ERRORES Y DESCONOCIMIENTO\n- Si la herramienta falla: \"⚠️ En este momento no puedo acceder al inventario en tiempo real, pero cuéntame qué buscas y te contacto a la brevedad.\"\n- Si preguntan algo que no está en las tablas (ej. \"¿El terreno tiene agua potable instalada?\"): Si la columna descripción no lo dice, responde: \"Ese detalle técnico específico debo confirmarlo con el área de factibilidad. ¿Te gustaría que lo averigüe y te avise?\". NO inventes que sí tiene agua si no lo dice.\n\n# INFORMACIÓN DE CONTACTO\nSi preguntan quién eres o soporte: \"Soy un asistente IA entrenado para ayudarte a encontrar tu parcela. Para contacto humano directo o sugerencias: contacto@lacrea.tech\".\n\n# CONTEXTO ACTUAL\nFecha y Hora: {{ $now.setZone(\"America/Santiago\") }}\nUbicación contexto: Chile. Normativa: DL 3516 (Parcelas de agrado).","returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[3184,1488],"id":"ac6ab3ad-cd5d-45f7-a29a-95ba62e42489","name":"AI_AGENTE_VENTAS","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"8fcc6715-21f7-4190-b9ad-afd41ddcd7f5","name":"output","value":"={{ $('AI_AGENTE_VENTAS').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3648,1488],"id":"1d9f1f1a-099a-4301-8e46-5a087d756780","name":"Return"},{"parameters":{"workflowInputs":{"values":[{"name":"notifyName","type":"any"},{"name":"userPrompt","type":"any"},{"name":"from_id"}]}},"id":"20d60339-ca2c-4817-8d00-fd2b22a01f9c","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[2928,1488]}],"connections":{"Wikipedia":{"ai_tool":[[{"node":"AI_AGENTE_VENTAS","type":"ai_tool","index":0}]]},"obtener_digito_verificador_de_un_rut":{"ai_tool":[[{"node":"AI_AGENTE_VENTAS","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI_AGENTE_VENTAS","type":"ai_memory","index":0}]]},"Get News":{"ai_tool":[[{"node":"AI_AGENTE_VENTAS","type":"ai_tool","index":0}]]},"Get_Weather":{"ai_tool":[[{"node":"AI_AGENTE_VENTAS","type":"ai_tool","index":0}]]},"get_stock_parcelas":{"ai_tool":[[{"node":"AI_AGENTE_VENTAS","type":"ai_tool","index":0}]]},"get_financiamiento_parcelas":{"ai_tool":[[{"node":"AI_AGENTE_VENTAS","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI_AGENTE_VENTAS","type":"ai_languageModel","index":0}]]},"AI_AGENTE_VENTAS":{"main":[[{"node":"Return","type":"main","index":0}]]},"Start":{"main":[[{"node":"AI_AGENTE_VENTAS","type":"main","index":0}]]}},"authors":"admin lacrea","name":"Version e0f6e52b","description":"","autosaved":true},"tags":[]}