send_to_telegram-HR4elkvUPqI7XgJU.json
{"updatedAt":"2026-06-07T00:01:40.317Z","createdAt":"2026-02-12T03:57:23.187Z","id":"HR4elkvUPqI7XgJU","name":"send_to_telegram","active":true,"isArchived":false,"nodes":[{"parameters":{"chatId":"-1003723713987","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false,"message_thread_id":"={{ $('Get a row').item.json.message_thread_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[656,128],"id":"9389ce2d-190c-443d-ab0f-1c9ed2213fa0","name":"Send a text message","webhookId":"9d76cd2d-fc9e-4463-9794-df2657e49823","credentials":{"telegramApi":{"id":"y41EsRDeiKedlEnR","name":"LaCreaIAbot"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8539770788:AAHLIrelTwTavjogU_rRpcP1_hmcO-oh22Q/createForumTopic","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('INPUT').item.json.chat_id }}"},{"name":"=name","value":"={{ $('INPUT').item.json.from_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[160,352],"id":"cb18e277-0e5f-4dfc-afc9-d8c03ba876c2","name":"HTTP Request"},{"parameters":{"operation":"get","tableId":"temas_por_chat","filters":{"conditions":[{"keyName":"theme_name","keyValue":"={{ $('INPUT').item.json.from_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-32,128],"id":"f32dbc23-4355-48c3-969c-49330293ecfc","name":"Get a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f038b010-5f3e-43ec-bf80-881d012ace9d","leftValue":"={{ $('Get a row').item.json.chat_id  != null}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[192,128],"id":"99fac146-7046-4717-822c-343ab81d35fd","name":"existe?"},{"parameters":{"tableId":"temas_por_chat","fieldsUi":{"fieldValues":[{"fieldId":"message_thread_id","fieldValue":"={{ $json.result.message_thread_id }}"},{"fieldId":"theme_name","fieldValue":"={{ $json.result.name }}"},{"fieldId":"chat_id","fieldValue":"={{ $('INPUT').item.json.chat_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-224,320],"id":"3fbd9e39-53d0-4171-8e87-dc9c6774cc36","name":"Create a row","credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"input\": {{ $('input_externo').item.json.input.toJsonString() }} ,\n  \"from_id\": \"{{ $('input_externo').item.json.from_id }}\",\n  \"chat_id\" :\"{{ $('input_externo').item.json.chat_id }}\", \n   \"from\" : \"{{ $('input_externo').item.json.profile }}\"\n\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,128],"id":"5311c436-e4e0-4293-bfcf-14ffdaa95f45","name":"INPUT"},{"parameters":{"jsCode":"const raw = $('INPUT').first().json.input ?? '';\n\nfunction normalizeText(s) {\n  return String(s)\n    .replace(/\\\\n/g, '\\n')          // convierte \\n literal a salto real\n    .replace(/\\r\\n/g, '\\n')         // normaliza CRLF\n    .replace(/\\u0000/g, '')         // quita nulls (por si acaso)\n    .replace(/[^\\S\\n]+/g, ' ')      // colapsa espacios (no toca saltos de línea)\n    .trim();\n}\n\n// Importante: elimina símbolos de markdown comunes (opcional)\nfunction stripMarkdown(s) {\n  return s\n    .replace(/\\*\\*(.*?)\\*\\*/g, '$1') // **bold**\n    .replace(/\\*(.*?)\\*/g, '$1')     // *bold/italic*\n    .replace(/__(.*?)__/g, '$1')\n    .replace(/_(.*?)_/g, '$1')\n    .replace(/`{1,3}([\\s\\S]*?)`{1,3}/g, '$1');\n}\n\n// Importante: si alguna vez metiste HTML en el texto, quítalo (opcional)\nfunction stripHtmlTags(s) {\n  return s.replace(/<\\/?[^>]+>/g, '');\n}\n\nlet text = normalizeText(raw);\ntext = stripMarkdown(text);\ntext = stripHtmlTags(text);\nconst emojis={\"user_client\":\"👤\",user_executive:\"🧑🏻‍💼\",\"assistant\" :\"🤖\"};\nconst profile =emojis[$('input_externo').first().json.profile];\ntext = ( profile || '' )  + ' ' + text;\nreturn [\n  {\n    json: {\n      text,\n      // NO devuelvas parse_mode aquí\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,128],"id":"47eb2c2d-4e20-4d3f-b67b-0e123058f80c","name":"normalizeText"},{"parameters":{"workflowId":{"__rl":true,"value":"05qK2yenVfUp9MxQ","mode":"list","cachedResultUrl":"/workflow/05qK2yenVfUp9MxQ","cachedResultName":"cfg_get_constants"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_bot":"={{ $json.chat_id }}","channel":"=\"telegram\""},"matchingColumns":[],"schema":[{"id":"id_bot","displayName":"id_bot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel","displayName":"channel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-464,128],"id":"6d4f5dcc-e35b-424d-add2-81bd0a69dbf1","name":"cfg_get_constants"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"input\": \"a string\",\n  \"from_id\": \"a string\",\n  \"chat_id\": \"a string\",\n  \"profile\": \"a string\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-656,128],"id":"66110017-b30b-4ea2-aa65-96c7ed80133a","name":"input_externo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0df5e1b6-5829-41b1-8f6b-dcd864d20932","leftValue":"={{ $json.error.trim() }}","rightValue":"Bad Request: message thread not found","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[912,144],"id":"9cb692e5-5d82-4a50-9d3c-6433e7a3f6c9","name":"If message thread not found"},{"parameters":{"operation":"delete","tableId":"temas_por_chat","filters":{"conditions":[{"keyName":"theme_name","condition":"eq","keyValue":"={{ $('INPUT').item.json.from_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,288],"id":"45f96e28-b8d6-4597-88c9-f73916035e8e","name":"Delete a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"existe?","type":"main","index":0}]]},"existe?":{"main":[[{"node":"normalizeText","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Send a text message":{"main":[[],[{"node":"If message thread not found","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"INPUT":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"normalizeText":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"cfg_get_constants":{"main":[[{"node":"INPUT","type":"main","index":0}]]},"input_externo":{"main":[[{"node":"cfg_get_constants","type":"main","index":0}]]},"If message thread not found":{"main":[[{"node":"Delete a row","type":"main","index":0}]]},"Delete a row":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"input_externo":[{"json":{"input":"Hola Mauricio, para ayudarte mejor ¿podrías indicarme qué tipo de parcela estás buscando? Por ejemplo, si es para inversión o para vivir, si prefieres zona de playa, campo o sur de Chile, y cuál es tu presupuesto aproximado. Así te podré ofrecer opciones disponibles que se ajusten a tus necesidades.","from_id":"120363399618900878@g.us","chat_id":"-1003723713987","profile":"assistant"},"pairedItem":{"item":0}}]},"versionId":"e3545eb5-174c-4def-83ee-3bc27f357f11","activeVersionId":"90f71b40-23bf-4861-8807-9dfb83d4576f","triggerCount":0,"shared":[{"updatedAt":"2026-02-12T03:57:23.190Z","createdAt":"2026-02-12T03:57:23.190Z","role":"workflow:owner","workflowId":"HR4elkvUPqI7XgJU","projectId":"J3aP8RSCBI7nm6fz"}],"activeVersion":{"updatedAt":"2026-02-18T20:07:17.000Z","createdAt":"2026-02-18T20:06:45.834Z","versionId":"90f71b40-23bf-4861-8807-9dfb83d4576f","workflowId":"HR4elkvUPqI7XgJU","nodes":[{"parameters":{"chatId":"-1003723713987","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false,"message_thread_id":"={{ $('Get a row').item.json.message_thread_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[656,128],"id":"9389ce2d-190c-443d-ab0f-1c9ed2213fa0","name":"Send a text message","webhookId":"9d76cd2d-fc9e-4463-9794-df2657e49823","credentials":{"telegramApi":{"id":"y41EsRDeiKedlEnR","name":"LaCreaIAbot"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8539770788:AAHLIrelTwTavjogU_rRpcP1_hmcO-oh22Q/createForumTopic","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('INPUT').item.json.chat_id }}"},{"name":"=name","value":"={{ $('INPUT').item.json.from_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[384,384],"id":"cb18e277-0e5f-4dfc-afc9-d8c03ba876c2","name":"HTTP Request"},{"parameters":{"operation":"get","tableId":"temas_por_chat","filters":{"conditions":[{"keyName":"theme_name","keyValue":"={{ $('INPUT').item.json.from_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-32,128],"id":"f32dbc23-4355-48c3-969c-49330293ecfc","name":"Get a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f038b010-5f3e-43ec-bf80-881d012ace9d","leftValue":"={{ $('Get a row').item.json.chat_id  != null}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[192,128],"id":"99fac146-7046-4717-822c-343ab81d35fd","name":"existe?"},{"parameters":{"tableId":"temas_por_chat","fieldsUi":{"fieldValues":[{"fieldId":"message_thread_id","fieldValue":"={{ $json.result.message_thread_id }}"},{"fieldId":"theme_name","fieldValue":"={{ $json.result.name }}"},{"fieldId":"chat_id","fieldValue":"={{ $('INPUT').item.json.chat_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-224,320],"id":"3fbd9e39-53d0-4171-8e87-dc9c6774cc36","name":"Create a row","credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"input\": {{ $('input_externo').item.json.input.toJsonString() }} ,\n  \"from_id\": \"{{ $('input_externo').item.json.from_id }}\",\n  \"chat_id\" :\"{{ $('input_externo').item.json.chat_id }}\", \n   \"from\" : \"{{ $('input_externo').item.json.profile }}\"\n\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,128],"id":"5311c436-e4e0-4293-bfcf-14ffdaa95f45","name":"INPUT"},{"parameters":{"jsCode":"const raw = $('INPUT').first().json.input ?? '';\n\nfunction normalizeText(s) {\n  return String(s)\n    .replace(/\\\\n/g, '\\n')          // convierte \\n literal a salto real\n    .replace(/\\r\\n/g, '\\n')         // normaliza CRLF\n    .replace(/\\u0000/g, '')         // quita nulls (por si acaso)\n    .replace(/[^\\S\\n]+/g, ' ')      // colapsa espacios (no toca saltos de línea)\n    .trim();\n}\n\n// Importante: elimina símbolos de markdown comunes (opcional)\nfunction stripMarkdown(s) {\n  return s\n    .replace(/\\*\\*(.*?)\\*\\*/g, '$1') // **bold**\n    .replace(/\\*(.*?)\\*/g, '$1')     // *bold/italic*\n    .replace(/__(.*?)__/g, '$1')\n    .replace(/_(.*?)_/g, '$1')\n    .replace(/`{1,3}([\\s\\S]*?)`{1,3}/g, '$1');\n}\n\n// Importante: si alguna vez metiste HTML en el texto, quítalo (opcional)\nfunction stripHtmlTags(s) {\n  return s.replace(/<\\/?[^>]+>/g, '');\n}\n\nlet text = normalizeText(raw);\ntext = stripMarkdown(text);\ntext = stripHtmlTags(text);\nconst emojis={\"user_client\":\"👤\",user_executive:\"🧑🏻‍💼\",\"assistant\" :\"🤖\"};\nconst profile =emojis[$('input_externo').first().json.profile];\ntext = ( profile || '' )  + ' ' + text;\nreturn [\n  {\n    json: {\n      text,\n      // NO devuelvas parse_mode aquí\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,128],"id":"47eb2c2d-4e20-4d3f-b67b-0e123058f80c","name":"normalizeText"},{"parameters":{"workflowId":{"__rl":true,"value":"05qK2yenVfUp9MxQ","mode":"list","cachedResultUrl":"/workflow/05qK2yenVfUp9MxQ","cachedResultName":"cfg_get_constants"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_bot":"={{ $json.chat_id }}","channel":"=\"telegram\""},"matchingColumns":[],"schema":[{"id":"id_bot","displayName":"id_bot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel","displayName":"channel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-464,128],"id":"6d4f5dcc-e35b-424d-add2-81bd0a69dbf1","name":"cfg_get_constants"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"input\": \"a string\",\n  \"from_id\": \"a string\",\n  \"chat_id\": \"a string\",\n  \"profile\": \"a string\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-656,128],"id":"66110017-b30b-4ea2-aa65-96c7ed80133a","name":"input_externo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0df5e1b6-5829-41b1-8f6b-dcd864d20932","leftValue":"={{ $json.error.trim() }}","rightValue":"Bad Request: message thread not found","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[912,144],"id":"9cb692e5-5d82-4a50-9d3c-6433e7a3f6c9","name":"If message thread not found"},{"parameters":{"operation":"delete","tableId":"temas_por_chat","filters":{"conditions":[{"keyName":"theme_name","condition":"eq","keyValue":"={{ $('INPUT').item.json.from_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,288],"id":"45f96e28-b8d6-4597-88c9-f73916035e8e","name":"Delete a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"existe?","type":"main","index":0}]]},"existe?":{"main":[[{"node":"normalizeText","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Send a text message":{"main":[[],[{"node":"If message thread not found","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"INPUT":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"normalizeText":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"cfg_get_constants":{"main":[[{"node":"INPUT","type":"main","index":0}]]},"input_externo":{"main":[[{"node":"cfg_get_constants","type":"main","index":0}]]},"If message thread not found":{"main":[[{"node":"Delete a row","type":"main","index":0}]]},"Delete a row":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"authors":"admin lacrea","name":"Version 90f71b40","description":"","autosaved":true},"tags":[]}