send_message_wsp-SUkUi7HpXK5DFBZW.json
{"updatedAt":"2026-02-28T20:23:18.170Z","createdAt":"2026-02-13T13:57:40.632Z","id":"SUkUi7HpXK5DFBZW","name":"send_message_wsp","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"chatId\": \"a string\",\n  \"message\" : \"a string\",\n  \"id_bot\" :\"a string\", \n  \"media\": {\n    \"base64\": \"iVBORw0KGgoAAAANSUhEUgA...\",\n    \"mime\": \"image/jpeg\",\n    \"filename\": \"foto.jpg\"\n  }\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-816,-224],"id":"8616de4e-bb66-4a28-9e8c-9e31fd440b4c","name":"send_mensage"},{"parameters":{"method":"POST","url":"={{ $json.values.api_local.url }}/v1/zeta/send-message ","sendBody":true,"bodyParameters":{"parameters":[{"name":"chatId","value":"={{ $('send_mensage').item.json.chatId }}"},{"name":"message","value":"={{ $('send_mensage').item.json.message || '' }}"},{"name":"media","value":"={{ $('send_mensage').item.json.media }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,-224],"id":"b51dd211-954f-47dc-90b5-becc8cca73df","name":"HTTP Request"},{"parameters":{"workflowId":{"__rl":true,"value":"05qK2yenVfUp9MxQ","mode":"list","cachedResultUrl":"/workflow/05qK2yenVfUp9MxQ","cachedResultName":"cfg_get_constants"},"workflowInputs":{"mappingMode":"defineBelow","value":{"channel":"wsp","id_bot":"={{ $json.botId }}"},"matchingColumns":[],"schema":[{"id":"id_bot","displayName":"id_bot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel","displayName":"channel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-576,-224],"id":"b8788966-f36c-44ed-9160-fe666efd61ca","name":"Call 'cfg_get_constants'"}],"connections":{"send_mensage":{"main":[[{"node":"Call 'cfg_get_constants'","type":"main","index":0}]]},"Call 'cfg_get_constants'":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"send_mensage":[{"json":{"chatId":"56994682379@c.us","message":"👩‍💼 ✍️ 🙌 ¡Gracias por usar el bot!\nEstamos trabajando para mejorar cada día 💡  \n¿Nos dejas un pequeño feedback o alguna sugerencia? 🚀","botId":"56920432332@c.us"}}]},"versionId":"34f96276-45c6-4c77-b145-7a1b1bf9973a","activeVersionId":"f9188986-bed9-4c5a-b4c8-f33cc105a486","triggerCount":0,"shared":[{"updatedAt":"2026-02-13T13:57:40.639Z","createdAt":"2026-02-13T13:57:40.639Z","role":"workflow:owner","workflowId":"SUkUi7HpXK5DFBZW","projectId":"J3aP8RSCBI7nm6fz"}],"activeVersion":{"updatedAt":"2026-02-20T16:22:44.000Z","createdAt":"2026-02-20T16:22:31.566Z","versionId":"f9188986-bed9-4c5a-b4c8-f33cc105a486","workflowId":"SUkUi7HpXK5DFBZW","nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"chatId\": \"a string\",\n  \"message\" : \"a string\",\n  \"media\": {\n    \"base64\": \"iVBORw0KGgoAAAANSUhEUgA...\",\n    \"mime\": \"image/jpeg\",\n    \"filename\": \"foto.jpg\"\n  }\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-416,-64],"id":"8616de4e-bb66-4a28-9e8c-9e31fd440b4c","name":"send_mensage"},{"parameters":{"method":"POST","url":"http://n8n.srv1353210.hstgr.cloud:3110/v1/zeta/send-message","sendBody":true,"bodyParameters":{"parameters":[{"name":"chatId","value":"={{ $json.chatId }}"},{"name":"message","value":"={{ $json.message || '' }}"},{"name":"media","value":"={{ $json.media }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,-64],"id":"b51dd211-954f-47dc-90b5-becc8cca73df","name":"HTTP Request"}],"connections":{"send_mensage":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"authors":"admin lacrea","name":"Version f9188986","description":"","autosaved":true},"tags":[]}