trigger_telegram-oxWwo3yhjMndUB1C.json
{"updatedAt":"2026-02-28T21:07:31.345Z","createdAt":"2026-02-13T14:10:06.418Z","id":"oxWwo3yhjMndUB1C","name":"trigger_telegram","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"70a4c155-bf56-4633-a923-579b56dd5185","leftValue":"={{ $json.mencion_bot }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1568,976],"id":"0f762079-dc8e-4e3b-8538-17763f9f1075","name":"¿Menciona bot?"},{"parameters":{"operation":"get","tableId":"temas_por_chat","filters":{"conditions":[{"keyName":"message_thread_id","keyValue":"={{ $('extraer_info_entrada').item.json.message_thread_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,976],"id":"3460ec5b-9ada-405e-bf81-abaca4b50d8c","name":"get_info_user_telegram","alwaysOutputData":true,"executeOnce":false,"credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"userPrompt\": {{ $('extraer_info_entrada').item.json.userPrompt?.toJsonString() || ''  }},\n  \"chat_id\":{{ $('extraer_info_entrada').item.json.chat_id.toJsonString() }},\n\"message_id\":{{ $('extraer_info_entrada').item.json.message_id }},\n  \"from_id\":{{ $('extraer_info_entrada').item.json.from_id.toJsonString() }},\n  \"username\":{{ $('extraer_info_entrada').item.json.username.toJsonString() }},\n\"isGroup\":{{ $('extraer_info_entrada').item.json.isGroup }},\n\"groupName\":{{ $('extraer_info_entrada').item.json.groupName.toJsonString() }},\n \"message_thread_id\":{{ $('extraer_info_entrada').item.json.message_thread_id }},\n \"mencion_bot\":{{ $('extraer_info_entrada').item.json.mencion_bot }},\n \"wp_id\":{{ $json.theme_name?.toJsonString() }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1392,976],"id":"7d247bae-aabf-4b0c-b0dc-764dc4fc2ffc","name":"completa_información_telegram"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"userPrompt\":{{ $('Telegram_Trigger').item.json.message?.text?.replace($('cfg_get_constants').item.json.values.name,'').trim().toJsonString()  || $('Telegram_Trigger').item.json.message.caption || '' }},\n  \"chat_id\":{{ $('Telegram_Trigger').item.json.message.chat.id.toString().toJsonString()}},\n   \"message_id\":{{ $('Telegram_Trigger').item.json.message.message_id }},\n  \"from_id\":{{ $('Telegram_Trigger').item.json.message.from.id.toString().toJsonString() }},\n  \"username\":{{ $('Telegram_Trigger').item.json.message.from.username.toJsonString() }},\n\"isGroup\":{{ $('Telegram_Trigger').item.json.message.chat.is_forum }},\n\"groupName\":{{ $('Telegram_Trigger').item.json.message.chat.title.toJsonString() }},\n \"message_thread_id\":{{ $('Telegram_Trigger').item.json.message.message_thread_id }},\n \"mencion_bot\":{{ $('Telegram_Trigger').item.json.message.entities[0].type == 'mention' ||  $('Telegram_Trigger').item.json.message.text?.includes('@laCreIA') }},\n\"photo\" :{{ $('Telegram_Trigger').item.json.message.photo }},\n\"video\" :{{ $('Telegram_Trigger').item.json.message.video }}\n\"document\" :{{ $('Telegram_Trigger').item.json.message.document }},\n\"location\":{{ $('Telegram_Trigger').item.json.message.location }},\n \"url_base_tgrm\" : \"https://api.telegram.org/bot{{$('cfg_get_constants').item.json.values.telegram_adm.api_key }}\"\n\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,848],"id":"aeaf0c2b-d120-48b3-9aee-20845679f945","name":"extraer_info_entrada"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"70a4c155-bf56-4633-a923-579b56dd5185","leftValue":"={{ !$('completa_información_telegram').item.json.wp_id }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2384,1184],"id":"0d7ad36d-8cf1-49b9-a328-bc12e6c86d26","name":"¿NO existe wp id?1"},{"parameters":{"method":"POST","url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/setMessageReaction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.chat_id }}"},{"name":"message_id","value":"={{ $json.message_id }}"},{"name":"reaction","value":"=[\n    { \"type\": \"emoji\", \"emoji\": \"👀\" }\n  ]"},{"name":"is_big","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1760,656],"id":"ea700bf4-4645-4bb1-9e20-6fb61622d406","name":"reacciona_a_msj","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8539770788:AAHLIrelTwTavjogU_rRpcP1_hmcO-oh22Q/setMessageReaction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('completa_información_telegram').item.json.chat_id }}"},{"name":"message_id","value":"={{ $('completa_información_telegram').item.json.message_id }}"},{"name":"reaction","value":"=[\n    { \"type\": \"emoji\", \"emoji\": \"👍\" }\n]"},{"name":"is_big","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2864,1264],"id":"ff74974f-d360-476d-a623-6c6a484bf579","name":"reacciona_ok","onError":"continueRegularOutput"},{"parameters":{"mode":"raw","jsonOutput":"={\n \"output\": \"Usuario no encontrado para responder.\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2608,1008],"id":"4f0b685e-e7be-45c1-8763-b84a5d5829f3","name":"msj_usuario_no_encontrado"},{"parameters":{"chatId":"={{ $('completa_información_telegram').item.json.chat_id }}","text":"=🤖{{ $json.output }}","additionalFields":{"appendAttribution":false,"message_thread_id":"={{ $('completa_información_telegram').item.json.message_thread_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3216,1008],"id":"bd47606a-e6d0-4098-9738-038faaca4ac8","name":"Send a text message","webhookId":"29eec1b9-c68c-47c8-b370-8bc9947a7882","credentials":{"telegramApi":{"id":"y41EsRDeiKedlEnR","name":"LaCreaIAbot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"06646940-6366-4bc8-a9e6-254172fd6667","leftValue":"={{ !!$json.is_bot_activated }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1920,1152],"id":"383a1349-2d6d-40f0-85ac-958fc366a25e","name":"¿bot activo?"},{"parameters":{"operation":"get","tableId":"user_chat","filters":{"conditions":[{"keyName":"autor_id","keyValue":"={{ $('completa_información_telegram').item.json.wp_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1728,1152],"id":"f1fefc06-bf29-49fd-82fa-819846a6a359","name":"get_estado_bot","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Telegram_Trigger').item.json.callback_query.data }}","rightValue":"poll:yes","operator":{"type":"string","operation":"equals"},"id":"a5244263-7d55-4138-adbb-a540142b0f1d"}],"combinator":"and"},"renameOutput":true,"outputKey":"ACTIVA_BOT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c91a7662-84ce-47ea-9f41-e1c3d2c21dbc","leftValue":"={{ $('Telegram_Trigger').item.json.callback_query.data }}","rightValue":"poll:no","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DESACTIVA_BOT"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"NO_ENCONTRADO"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1408,1488],"id":"f08a416b-1fd1-4ab7-a01a-c4459251c78e","name":"respuesta"},{"parameters":{"operation":"update","tableId":"user_chat","filters":{"conditions":[{"keyName":"autor_id","condition":"eq","keyValue":"={{ $('extrae_informacion').item.json.wp_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"is_bot_activated","fieldValue":"={{ $json.is_bot_activated }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2096,1520],"id":"5da9b6a1-043a-4b1a-a856-bca5fb3f607f","name":"upd_bot_activate","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n \"output\": \"El bot fue {{ $json.is_bot_activated?\"activado\":\"desactivado\" }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2304,1520],"id":"8da077c8-1391-441d-8b0c-373bc6c91c86","name":"mensaje_estado_del_bot"},{"parameters":{"chatId":"={{ $('extrae_informacion').item.json.chat_id }}","text":"=🤖{{ $json.output }}","additionalFields":{"appendAttribution":false,"message_thread_id":"={{ $('extrae_informacion').item.json.message_thread_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3216,1520],"id":"1abe8f0c-ffe2-43e7-a9cf-0d73a460e19c","name":"Send a text message1","webhookId":"29eec1b9-c68c-47c8-b370-8bc9947a7882","credentials":{"telegramApi":{"id":"y41EsRDeiKedlEnR","name":"LaCreaIAbot"}}},{"parameters":{"method":"POST","url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/sendMessage","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('completa_información_telegram').item.json.chat_id }}"},{"name":"text","value":"Bot activado para el cliente ¿ Mantener el Bot Activado ?"},{"name":"reply_markup","value":"={\n    \"inline_keyboard\": [\n      [\n        { \"text\": \"✅ Sí\", \"callback_data\": \"poll:yes\" },\n        { \"text\": \"❌ No\", \"callback_data\": \"poll:no\" }\n      ]\n    ]\n}\n"},{"name":"message_thread_id","value":"={{ $('completa_información_telegram').item.json.message_thread_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2080,880],"id":"08a6b08e-2a98-4989-99ad-e9def6cec3dc","name":"¿Mantiene el bot activado?"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"userPrompt\":{{ $('Telegram_Trigger').item.json.callback_query.message.text.toJsonString() }} ,\n  \"chat_id\":{{ $('Telegram_Trigger').item.json.callback_query.message.chat.id }},\n\"message_id\":{{ $('Telegram_Trigger').item.json.callback_query.message.message_id }}\n\"from_id\":{{ $('Telegram_Trigger').item.json.callback_query.message.from.id }},\n\"username\":{{ $('Telegram_Trigger').item.json.callback_query.message.from.username.toJsonString() }},\n\"isGroup\":{{ $('Telegram_Trigger').item.json.callback_query.message.chat.is_forum }},\n\"groupName\":{{ $('Telegram_Trigger').item.json.callback_query.message.chat.title.toJsonString() }},\n \"message_thread_id\":{{ $('Telegram_Trigger').item.json.callback_query.message.message_thread_id }},\n\"wp_id\":{{ $json.theme_name.toJsonString() }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,1504],"id":"52570eea-73b6-4ee3-bcb2-6a405dbbe11e","name":"extrae_informacion"},{"parameters":{"operation":"get","tableId":"temas_por_chat","filters":{"conditions":[{"keyName":"message_thread_id","keyValue":"={{ $json.callback_query.message.message_thread_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1008,1504],"id":"1a8e3257-8c98-4971-96f5-c8dc5c95c620","name":"get_estado_bot1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n \"is_bot_activated\": false\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,1616],"id":"04aa75a8-d051-4173-99e4-25e025f56aef","name":"desactiva"},{"parameters":{"mode":"raw","jsonOutput":"={\n \"is_bot_activated\": true\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,1392],"id":"2df34388-a872-45d9-8582-1c52353e0fe8","name":"activa"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ !!$('Telegram_Trigger').item.json.callback_query }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"930fb6ef-cd25-4596-8fc6-5b30c1387cda"}],"combinator":"and"},"renameOutput":true,"outputKey":"callback_query"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"MENSAJE"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[48,976],"id":"d8f07e25-c253-49a0-829e-c4113fed0ff8","name":"Switch"},{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-384,976],"id":"36ba0bfe-2e5e-4c3a-ad43-4d7d9c88c920","name":"Telegram_Trigger","webhookId":"eb8c0843-4d69-4c0a-8743-75486d8da856","credentials":{"telegramApi":{"id":"y41EsRDeiKedlEnR","name":"LaCreaIAbot"}}},{"parameters":{"operation":"get","tableId":"user_chat","filters":{"conditions":[{"keyName":"autor_id","keyValue":"={{ $('completa_información_telegram').item.json.wp_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2128,640],"id":"185c9625-aa2c-4b38-8082-bdea3eb9fc80","name":"get_estado_bot2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"06646940-6366-4bc8-a9e6-254172fd6667","leftValue":"={{ !!$json.is_bot_activated }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2352,640],"id":"a0586c40-5e54-4626-b02c-98fbc84caf23","name":"¿bot activo?1"},{"parameters":{"method":"POST","url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/sendMessage","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('completa_información_telegram').item.json.chat_id }}"},{"name":"text","value":"Bot desactivado para el cliente ¿ Activar el Bot ?"},{"name":"reply_markup","value":"={\n    \"inline_keyboard\": [\n      [\n        { \"text\": \"✅ Sí\", \"callback_data\": \"poll:yes\" },\n        { \"text\": \"❌ No\", \"callback_data\": \"poll:no\" }\n      ]\n    ]\n}\n"},{"name":"message_thread_id","value":"={{ $('completa_información_telegram').item.json.message_thread_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2672,656],"id":"2d57513e-db7f-4e3c-b9dc-89d936c6db5b","name":"¿Mantiene el bot activado?1"},{"parameters":{"workflowId":{"__rl":true,"value":"SUkUi7HpXK5DFBZW","mode":"list","cachedResultUrl":"/workflow/SUkUi7HpXK5DFBZW","cachedResultName":"send_message_wsp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatId":"={{ $('completa_información_telegram').item.json.wp_id }}","message":"=👩‍💼 ✍️ {{ $('completa_información_telegram').item.json.userPrompt || '' }}","media":"={{ $if( $('adjunto').isExecuted,$('adjunto').item.json.valor,null) }}"},"matchingColumns":[],"schema":[{"id":"chatId","displayName":"chatId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"media","displayName":"media","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2640,1264],"id":"b7c6b99e-1e22-405f-be54-906cd80735e6","name":"Call 'send_message_wsp'"},{"parameters":{"workflowId":{"__rl":true,"value":"CyENRAbw56EpyU7B","mode":"list","cachedResultUrl":"/workflow/CyENRAbw56EpyU7B","cachedResultName":"zeta-alpha_v0"},"workflowInputs":{"mappingMode":"defineBelow","value":{"userPrompt":"={{ $('completa_información_telegram').item.json.userPrompt }}","type":"\"message\"","ai":"\"\"","extract_text":"\"\"","notifyName":"={{ $('completa_información_telegram').item.json.username }}","isGroup":"={{ $('completa_información_telegram').item.json.isGroup.toString() }}","groupName":"={{ $('completa_información_telegram').item.json.groupName }}","from_id":"={{ $('extraer_info_entrada').item.json.from_id }}","autor_id":"={{ $('extraer_info_entrada').item.json.username }}","profile":"\"user_executive\"","bot_id":"={{ $('Call \\'cfg_get_constants\\'').item.json.values.wsp_id }}","channel":"telegram"},"matchingColumns":[],"schema":[{"id":"userPrompt","displayName":"userPrompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ai","displayName":"ai","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"extract_text","displayName":"extract_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_id","displayName":"from_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"autor_id","displayName":"autor_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notifyName","displayName":"notifyName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"isGroup","displayName":"isGroup","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"groupName","displayName":"groupName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"profile","displayName":"profile","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"bot_id","displayName":"bot_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel","displayName":"channel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1936,640],"id":"aafee27c-6af0-425d-a4b2-be1d9414a537","name":"Call 'zeta-alpha_v0'"},{"parameters":{"tableId":"n8n_chat_histories","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $('completa_información_telegram').item.json.wp_id }}"},{"fieldId":"=message","fieldValue":"={{\n  {\n    \"type\": \"ai\",\n    \"content\": $('extraer_info_entrada').item.json.userPrompt,\n    \"additional_kwargs\": {},\n    \"response_metadata\": {}\n  }\n}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3232,1264],"id":"886175ee-2834-4abf-8899-3be721c4d635","name":"Create a row","credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}},"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ !!$json.photo }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"98b5244f-8989-49ec-9b4e-e2a41804fb9c"}],"combinator":"and"},"renameOutput":true,"outputKey":"PHOTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cb062032-f543-4deb-ae42-54876de76044","leftValue":"={{ !!$json.video }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VIDEO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d6582954-5ce5-4648-8b01-bbbf2a3bafb8","leftValue":"={{ !!$json.location }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"LOCATION"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b585c949-2b6b-49e7-bbe1-d1b162d8878d","leftValue":"={{ !!$json.document }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"DOCUMENTO"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[576,544],"id":"3d6778f7-0fbc-4f84-962c-c5114f062e1c","name":"tipo mensaje"},{"parameters":{"url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/getFile?file_id={{$json.photo[$json.photo.length - 1].file_id}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[848,128],"id":"cf058934-f85a-4094-a5f7-b87598675b28","name":"HTTP Request"},{"parameters":{"url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/{{ $json.result.file_path }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1088,128],"id":"a9f1934c-71d6-4f5f-914c-0e16758120ac","name":"HTTP Request1"},{"parameters":{"jsCode":"// Lee el binario REAL (aunque esté en filesystem-v2) y lo convierte a base64\nconst itemIndex = 0;\nconst binaryProperty = 'data';\n\n// Obtiene el archivo como Buffer\nconst buffer = await this.helpers.getBinaryDataBuffer(itemIndex, binaryProperty);\n\n// Base64 puro\nconst base64 = buffer.toString('base64');\n\n// MimeType (si viene octet-stream, lo ajustamos por extensión)\nlet mimeType = $input.first().binary?.[binaryProperty]?.mimeType || 'application/octet-stream';\nconst fileName = $input.first().binary?.[binaryProperty]?.fileName || 'file';\n\nif (mimeType === 'application/octet-stream' && fileName.toLowerCase().endsWith('.jpg')) mimeType = 'image/jpeg';\nif (mimeType === 'application/octet-stream' && fileName.toLowerCase().endsWith('.jpeg')) mimeType = 'image/jpeg';\nif (mimeType === 'application/octet-stream' && fileName.toLowerCase().endsWith('.png')) mimeType = 'image/png';\n\nconst dataUrl = `data:${mimeType};base64,${base64}`;\n\nreturn [{\n  json: { base64, dataUrl, mimeType, fileName }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,128],"id":"66b8f94d-9ed7-4ffd-a6a7-bf855c046ea0","name":"Code in JavaScript"},{"parameters":{"url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/getFile?file_id={{ $json.video.file_id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[864,320],"id":"c0a26a87-0124-4bbb-931a-e98c030dc974","name":"HTTP Request2"},{"parameters":{"url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/{{ $json.result.file_path }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1088,320],"id":"761870b2-1c13-464e-b7ff-05518b668abe","name":"HTTP Request3"},{"parameters":{"jsCode":"const itemIndex = 0;\nconst binaryProperty = 'data';\n\nconst buffer = await this.helpers.getBinaryDataBuffer(itemIndex, binaryProperty);\nconst base64 = buffer.toString('base64');\n\nlet fileName = $input.first().binary?.[binaryProperty]?.fileName || 'video.mp4';\nlet mimeType = $input.first().binary?.[binaryProperty]?.mimeType || 'application/octet-stream';\n\nconst fn = fileName.toLowerCase();\n\n// Normaliza mime por extensión\nif (mimeType === 'application/octet-stream') {\n  if (fn.endsWith('.mp4')) mimeType = 'video/mp4';\n  else if (fn.endsWith('.mov')) mimeType = 'video/quicktime';\n  else if (fn.endsWith('.webm')) mimeType = 'video/webm';\n}\n\n// ⚠️ Recomendación: si es .mov, intenta tratarlo como video/mp4 SOLO si ya viene MP4 realmente.\n// Si es MOV real, mejor convertir a MP4 (ver punto 4).\nreturn [{ json: { base64, mimeType, fileName } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,320],"id":"259f4c1c-acbd-4f16-b756-7cb6062980ff","name":"Code in JavaScript1"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"valor\":  {{ $json }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1504,496],"id":"552f2fb8-ef82-402c-a1ea-600f0bcd7009","name":"adjunto"},{"parameters":{"url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/getFile?file_id={{ $json.document.file_id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[864,496],"id":"36be600a-c09f-48f6-bee9-72d07aade1c1","name":"HTTP Request4"},{"parameters":{"url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/{{ $json.result.file_path }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1088,496],"id":"8b2246ca-abaa-45b8-ba42-bf89eca23e9e","name":"HTTP Request5"},{"parameters":{"jsCode":"const itemIndex = 0;\nconst binaryProperty = 'data';\n\nconst buffer = await this.helpers.getBinaryDataBuffer(itemIndex, binaryProperty);\n\nconst base64 = buffer.toString('base64');\n\n// nombre/mime desde binario\nlet fileName = $input.first().binary?.[binaryProperty]?.fileName || 'file';\nlet mimeType = $input.first().binary?.[binaryProperty]?.mimeType || 'application/octet-stream';\n\n// si Telegram te trae el nombre real en message.document.file_name,\n// puedes pasarlo en el flujo (recomendado)\nif ($json?.message?.document?.file_name) fileName = $json.message.document.file_name;\nif ($json?.message?.document?.mime_type) mimeType = $json.message.document.mime_type;\n\n// fallback por extensión\nconst fn = String(fileName).toLowerCase();\nif (mimeType === 'application/octet-stream') {\n  if (fn.endsWith('.mp4')) mimeType = 'video/mp4';\n  else if (fn.endsWith('.mov')) mimeType = 'video/quicktime';\n  else if (fn.endsWith('.jpg') || fn.endsWith('.jpeg')) mimeType = 'image/jpeg';\n  else if (fn.endsWith('.png')) mimeType = 'image/png';\n  else if (fn.endsWith('.pdf')) mimeType = 'application/pdf';\n}\n\nreturn [{ json: { base64, mimeType, fileName } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,496],"id":"9bfd90ed-1966-4b51-846f-5d06ab24cc74","name":"Code in JavaScript2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fdca40fa-2abd-4065-955b-753a025eb5b9","leftValue":"={{ !!$json.userPrompt }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[784,960],"id":"d6526a61-1eb1-401d-ad1d-6e1a613644ed","name":"trae mensaje"},{"parameters":{"workflowId":{"__rl":true,"value":"05qK2yenVfUp9MxQ","mode":"list","cachedResultUrl":"/workflow/05qK2yenVfUp9MxQ","cachedResultName":"cfg_get_constants"},"workflowInputs":{"mappingMode":"defineBelow","value":{"channel":"telegram","id_bot":"={{ $json.message.chat.id.toString() }}"},"matchingColumns":[],"schema":[{"id":"id_bot","displayName":"id_bot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel","displayName":"channel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-160,976],"id":"dab3b2f4-bbcb-444c-93ea-8ed4fbdae471","name":"cfg_get_constants"}],"connections":{"¿Menciona bot?":{"main":[[{"node":"reacciona_a_msj","type":"main","index":0}],[{"node":"get_estado_bot","type":"main","index":0}]]},"get_info_user_telegram":{"main":[[{"node":"completa_información_telegram","type":"main","index":0}]]},"completa_información_telegram":{"main":[[{"node":"¿Menciona bot?","type":"main","index":0}]]},"extraer_info_entrada":{"main":[[{"node":"tipo mensaje","type":"main","index":0}]]},"¿NO existe wp id?1":{"main":[[{"node":"msj_usuario_no_encontrado","type":"main","index":0}],[{"node":"Call 'send_message_wsp'","type":"main","index":0}]]},"msj_usuario_no_encontrado":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"¿bot activo?":{"main":[[{"node":"¿Mantiene el bot activado?","type":"main","index":0}],[{"node":"¿NO existe wp id?1","type":"main","index":0}]]},"get_estado_bot":{"main":[[{"node":"¿bot activo?","type":"main","index":0}]]},"respuesta":{"main":[[{"node":"activa","type":"main","index":0}],[{"node":"desactiva","type":"main","index":0}]]},"upd_bot_activate":{"main":[[{"node":"mensaje_estado_del_bot","type":"main","index":0}]]},"mensaje_estado_del_bot":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"¿Mantiene el bot activado?":{"main":[[{"node":"¿NO existe wp id?1","type":"main","index":0}]]},"extrae_informacion":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"get_estado_bot1":{"main":[[{"node":"extrae_informacion","type":"main","index":0}]]},"desactiva":{"main":[[{"node":"upd_bot_activate","type":"main","index":0}]]},"activa":{"main":[[{"node":"upd_bot_activate","type":"main","index":0}]]},"Switch":{"main":[[{"node":"get_estado_bot1","type":"main","index":0}],[{"node":"extraer_info_entrada","type":"main","index":0}]]},"Telegram_Trigger":{"main":[[{"node":"cfg_get_constants","type":"main","index":0}]]},"get_estado_bot2":{"main":[[{"node":"¿bot activo?1","type":"main","index":0}]]},"¿bot activo?1":{"main":[[],[{"node":"¿Mantiene el bot activado?1","type":"main","index":0}]]},"Call 'send_message_wsp'":{"main":[[{"node":"reacciona_ok","type":"main","index":0}]]},"Call 'zeta-alpha_v0'":{"main":[[{"node":"get_estado_bot2","type":"main","index":0}]]},"reacciona_ok":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"tipo mensaje":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}],[],[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"trae mensaje","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"adjunto","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"adjunto","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"adjunto","type":"main","index":0}]]},"adjunto":{"main":[[{"node":"get_info_user_telegram","type":"main","index":0}]]},"reacciona_a_msj":{"main":[[{"node":"Call 'zeta-alpha_v0'","type":"main","index":0}]]},"trae mensaje":{"main":[[{"node":"get_info_user_telegram","type":"main","index":0}]]},"cfg_get_constants":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram_Trigger":[{"json":{"update_id":62870561,"message":{"message_id":417,"from":{"id":191774265,"is_bot":false,"first_name":"Mauricio","last_name":"Farías","username":"mauriciofariasz","language_code":"es"},"chat":{"id":-1003723713987,"title":"Ventas Parcelas","is_forum":true,"type":"supergroup"},"date":1772233349,"message_thread_id":44,"reply_to_message":{"message_id":44,"from":{"id":8539770788,"is_bot":true,"first_name":"LaCrea-IA","username":"LaCreaIAbot"},"chat":{"id":-1003723713987,"title":"Ventas Parcelas","is_forum":true,"type":"supergroup"},"date":1770996769,"message_thread_id":44,"forum_topic_created":{"name":"56922274152@c.us","icon_color":7322096},"is_topic_message":true},"text":"🙌 ¡Gracias por usar el bot!\nEstamos trabajando para mejorar cada día 💡  \n¿Nos dejas un pequeño feedback o alguna sugerencia? 🚀","is_topic_message":true}},"pairedItem":{"item":0}}]},"versionId":"c9314672-fcf0-4cc1-805f-b23fe02ac9bc","activeVersionId":"c9314672-fcf0-4cc1-805f-b23fe02ac9bc","triggerCount":1,"shared":[{"updatedAt":"2026-02-13T14:10:06.422Z","createdAt":"2026-02-13T14:10:06.422Z","role":"workflow:owner","workflowId":"oxWwo3yhjMndUB1C","projectId":"J3aP8RSCBI7nm6fz"}],"activeVersion":{"updatedAt":"2026-02-28T21:08:13.000Z","createdAt":"2026-02-28T21:07:31.346Z","versionId":"c9314672-fcf0-4cc1-805f-b23fe02ac9bc","workflowId":"oxWwo3yhjMndUB1C","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"70a4c155-bf56-4633-a923-579b56dd5185","leftValue":"={{ $json.mencion_bot }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1568,976],"id":"0f762079-dc8e-4e3b-8538-17763f9f1075","name":"¿Menciona bot?"},{"parameters":{"operation":"get","tableId":"temas_por_chat","filters":{"conditions":[{"keyName":"message_thread_id","keyValue":"={{ $('extraer_info_entrada').item.json.message_thread_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,976],"id":"3460ec5b-9ada-405e-bf81-abaca4b50d8c","name":"get_info_user_telegram","alwaysOutputData":true,"executeOnce":false,"credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"userPrompt\": {{ $('extraer_info_entrada').item.json.userPrompt?.toJsonString() || ''  }},\n  \"chat_id\":{{ $('extraer_info_entrada').item.json.chat_id.toJsonString() }},\n\"message_id\":{{ $('extraer_info_entrada').item.json.message_id }},\n  \"from_id\":{{ $('extraer_info_entrada').item.json.from_id.toJsonString() }},\n  \"username\":{{ $('extraer_info_entrada').item.json.username.toJsonString() }},\n\"isGroup\":{{ $('extraer_info_entrada').item.json.isGroup }},\n\"groupName\":{{ $('extraer_info_entrada').item.json.groupName.toJsonString() }},\n \"message_thread_id\":{{ $('extraer_info_entrada').item.json.message_thread_id }},\n \"mencion_bot\":{{ $('extraer_info_entrada').item.json.mencion_bot }},\n \"wp_id\":{{ $json.theme_name?.toJsonString() }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1392,976],"id":"7d247bae-aabf-4b0c-b0dc-764dc4fc2ffc","name":"completa_información_telegram"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"userPrompt\":{{ $('Telegram_Trigger').item.json.message?.text?.replace($('cfg_get_constants').item.json.values.name,'').trim().toJsonString()  || $('Telegram_Trigger').item.json.message.caption || '' }},\n  \"chat_id\":{{ $('Telegram_Trigger').item.json.message.chat.id.toString().toJsonString()}},\n   \"message_id\":{{ $('Telegram_Trigger').item.json.message.message_id }},\n  \"from_id\":{{ $('Telegram_Trigger').item.json.message.from.id.toString().toJsonString() }},\n  \"username\":{{ $('Telegram_Trigger').item.json.message.from.username.toJsonString() }},\n\"isGroup\":{{ $('Telegram_Trigger').item.json.message.chat.is_forum }},\n\"groupName\":{{ $('Telegram_Trigger').item.json.message.chat.title.toJsonString() }},\n \"message_thread_id\":{{ $('Telegram_Trigger').item.json.message.message_thread_id }},\n \"mencion_bot\":{{ $('Telegram_Trigger').item.json.message.entities[0].type == 'mention' ||  $('Telegram_Trigger').item.json.message.text?.includes('@laCreIA') }},\n\"photo\" :{{ $('Telegram_Trigger').item.json.message.photo }},\n\"video\" :{{ $('Telegram_Trigger').item.json.message.video }}\n\"document\" :{{ $('Telegram_Trigger').item.json.message.document }},\n\"location\":{{ $('Telegram_Trigger').item.json.message.location }},\n \"url_base_tgrm\" : \"https://api.telegram.org/bot{{$('cfg_get_constants').item.json.values.telegram_adm.api_key }}\"\n\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,848],"id":"aeaf0c2b-d120-48b3-9aee-20845679f945","name":"extraer_info_entrada"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"70a4c155-bf56-4633-a923-579b56dd5185","leftValue":"={{ !$('completa_información_telegram').item.json.wp_id }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2384,1184],"id":"0d7ad36d-8cf1-49b9-a328-bc12e6c86d26","name":"¿NO existe wp id?1"},{"parameters":{"method":"POST","url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/setMessageReaction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.chat_id }}"},{"name":"message_id","value":"={{ $json.message_id }}"},{"name":"reaction","value":"=[\n    { \"type\": \"emoji\", \"emoji\": \"👀\" }\n  ]"},{"name":"is_big","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1760,656],"id":"ea700bf4-4645-4bb1-9e20-6fb61622d406","name":"reacciona_a_msj","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8539770788:AAHLIrelTwTavjogU_rRpcP1_hmcO-oh22Q/setMessageReaction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('completa_información_telegram').item.json.chat_id }}"},{"name":"message_id","value":"={{ $('completa_información_telegram').item.json.message_id }}"},{"name":"reaction","value":"=[\n    { \"type\": \"emoji\", \"emoji\": \"👍\" }\n]"},{"name":"is_big","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2864,1264],"id":"ff74974f-d360-476d-a623-6c6a484bf579","name":"reacciona_ok","onError":"continueRegularOutput"},{"parameters":{"mode":"raw","jsonOutput":"={\n \"output\": \"Usuario no encontrado para responder.\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2608,1008],"id":"4f0b685e-e7be-45c1-8763-b84a5d5829f3","name":"msj_usuario_no_encontrado"},{"parameters":{"chatId":"={{ $('completa_información_telegram').item.json.chat_id }}","text":"=🤖{{ $json.output }}","additionalFields":{"appendAttribution":false,"message_thread_id":"={{ $('completa_información_telegram').item.json.message_thread_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3216,1008],"id":"bd47606a-e6d0-4098-9738-038faaca4ac8","name":"Send a text message","webhookId":"29eec1b9-c68c-47c8-b370-8bc9947a7882","credentials":{"telegramApi":{"id":"y41EsRDeiKedlEnR","name":"LaCreaIAbot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"06646940-6366-4bc8-a9e6-254172fd6667","leftValue":"={{ !!$json.is_bot_activated }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1920,1152],"id":"383a1349-2d6d-40f0-85ac-958fc366a25e","name":"¿bot activo?"},{"parameters":{"operation":"get","tableId":"user_chat","filters":{"conditions":[{"keyName":"autor_id","keyValue":"={{ $('completa_información_telegram').item.json.wp_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1728,1152],"id":"f1fefc06-bf29-49fd-82fa-819846a6a359","name":"get_estado_bot","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Telegram_Trigger').item.json.callback_query.data }}","rightValue":"poll:yes","operator":{"type":"string","operation":"equals"},"id":"a5244263-7d55-4138-adbb-a540142b0f1d"}],"combinator":"and"},"renameOutput":true,"outputKey":"ACTIVA_BOT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c91a7662-84ce-47ea-9f41-e1c3d2c21dbc","leftValue":"={{ $('Telegram_Trigger').item.json.callback_query.data }}","rightValue":"poll:no","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DESACTIVA_BOT"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"NO_ENCONTRADO"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1408,1488],"id":"f08a416b-1fd1-4ab7-a01a-c4459251c78e","name":"respuesta"},{"parameters":{"operation":"update","tableId":"user_chat","filters":{"conditions":[{"keyName":"autor_id","condition":"eq","keyValue":"={{ $('extrae_informacion').item.json.wp_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"is_bot_activated","fieldValue":"={{ $json.is_bot_activated }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2096,1520],"id":"5da9b6a1-043a-4b1a-a856-bca5fb3f607f","name":"upd_bot_activate","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n \"output\": \"El bot fue {{ $json.is_bot_activated?\"activado\":\"desactivado\" }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2304,1520],"id":"8da077c8-1391-441d-8b0c-373bc6c91c86","name":"mensaje_estado_del_bot"},{"parameters":{"chatId":"={{ $('extrae_informacion').item.json.chat_id }}","text":"=🤖{{ $json.output }}","additionalFields":{"appendAttribution":false,"message_thread_id":"={{ $('extrae_informacion').item.json.message_thread_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3216,1520],"id":"1abe8f0c-ffe2-43e7-a9cf-0d73a460e19c","name":"Send a text message1","webhookId":"29eec1b9-c68c-47c8-b370-8bc9947a7882","credentials":{"telegramApi":{"id":"y41EsRDeiKedlEnR","name":"LaCreaIAbot"}}},{"parameters":{"method":"POST","url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/sendMessage","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('completa_información_telegram').item.json.chat_id }}"},{"name":"text","value":"Bot activado para el cliente ¿ Mantener el Bot Activado ?"},{"name":"reply_markup","value":"={\n    \"inline_keyboard\": [\n      [\n        { \"text\": \"✅ Sí\", \"callback_data\": \"poll:yes\" },\n        { \"text\": \"❌ No\", \"callback_data\": \"poll:no\" }\n      ]\n    ]\n}\n"},{"name":"message_thread_id","value":"={{ $('completa_información_telegram').item.json.message_thread_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2080,880],"id":"08a6b08e-2a98-4989-99ad-e9def6cec3dc","name":"¿Mantiene el bot activado?"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"userPrompt\":{{ $('Telegram_Trigger').item.json.callback_query.message.text.toJsonString() }} ,\n  \"chat_id\":{{ $('Telegram_Trigger').item.json.callback_query.message.chat.id }},\n\"message_id\":{{ $('Telegram_Trigger').item.json.callback_query.message.message_id }}\n\"from_id\":{{ $('Telegram_Trigger').item.json.callback_query.message.from.id }},\n\"username\":{{ $('Telegram_Trigger').item.json.callback_query.message.from.username.toJsonString() }},\n\"isGroup\":{{ $('Telegram_Trigger').item.json.callback_query.message.chat.is_forum }},\n\"groupName\":{{ $('Telegram_Trigger').item.json.callback_query.message.chat.title.toJsonString() }},\n \"message_thread_id\":{{ $('Telegram_Trigger').item.json.callback_query.message.message_thread_id }},\n\"wp_id\":{{ $json.theme_name.toJsonString() }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,1504],"id":"52570eea-73b6-4ee3-bcb2-6a405dbbe11e","name":"extrae_informacion"},{"parameters":{"operation":"get","tableId":"temas_por_chat","filters":{"conditions":[{"keyName":"message_thread_id","keyValue":"={{ $json.callback_query.message.message_thread_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1008,1504],"id":"1a8e3257-8c98-4971-96f5-c8dc5c95c620","name":"get_estado_bot1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n \"is_bot_activated\": false\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,1616],"id":"04aa75a8-d051-4173-99e4-25e025f56aef","name":"desactiva"},{"parameters":{"mode":"raw","jsonOutput":"={\n \"is_bot_activated\": true\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,1392],"id":"2df34388-a872-45d9-8582-1c52353e0fe8","name":"activa"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ !!$('Telegram_Trigger').item.json.callback_query }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"930fb6ef-cd25-4596-8fc6-5b30c1387cda"}],"combinator":"and"},"renameOutput":true,"outputKey":"callback_query"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"MENSAJE"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[48,976],"id":"d8f07e25-c253-49a0-829e-c4113fed0ff8","name":"Switch"},{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-384,976],"id":"36ba0bfe-2e5e-4c3a-ad43-4d7d9c88c920","name":"Telegram_Trigger","webhookId":"eb8c0843-4d69-4c0a-8743-75486d8da856","credentials":{"telegramApi":{"id":"y41EsRDeiKedlEnR","name":"LaCreaIAbot"}}},{"parameters":{"operation":"get","tableId":"user_chat","filters":{"conditions":[{"keyName":"autor_id","keyValue":"={{ $('completa_información_telegram').item.json.wp_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2128,640],"id":"185c9625-aa2c-4b38-8082-bdea3eb9fc80","name":"get_estado_bot2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"06646940-6366-4bc8-a9e6-254172fd6667","leftValue":"={{ !!$json.is_bot_activated }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2352,640],"id":"a0586c40-5e54-4626-b02c-98fbc84caf23","name":"¿bot activo?1"},{"parameters":{"method":"POST","url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/sendMessage","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('completa_información_telegram').item.json.chat_id }}"},{"name":"text","value":"Bot desactivado para el cliente ¿ Activar el Bot ?"},{"name":"reply_markup","value":"={\n    \"inline_keyboard\": [\n      [\n        { \"text\": \"✅ Sí\", \"callback_data\": \"poll:yes\" },\n        { \"text\": \"❌ No\", \"callback_data\": \"poll:no\" }\n      ]\n    ]\n}\n"},{"name":"message_thread_id","value":"={{ $('completa_información_telegram').item.json.message_thread_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2672,656],"id":"2d57513e-db7f-4e3c-b9dc-89d936c6db5b","name":"¿Mantiene el bot activado?1"},{"parameters":{"workflowId":{"__rl":true,"value":"SUkUi7HpXK5DFBZW","mode":"list","cachedResultUrl":"/workflow/SUkUi7HpXK5DFBZW","cachedResultName":"send_message_wsp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatId":"={{ $('completa_información_telegram').item.json.wp_id }}","message":"=👩‍💼 ✍️ {{ $('completa_información_telegram').item.json.userPrompt || '' }}","media":"={{ $if( $('adjunto').isExecuted,$('adjunto').item.json.valor,null) }}"},"matchingColumns":[],"schema":[{"id":"chatId","displayName":"chatId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"media","displayName":"media","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2640,1264],"id":"b7c6b99e-1e22-405f-be54-906cd80735e6","name":"Call 'send_message_wsp'"},{"parameters":{"workflowId":{"__rl":true,"value":"CyENRAbw56EpyU7B","mode":"list","cachedResultUrl":"/workflow/CyENRAbw56EpyU7B","cachedResultName":"zeta-alpha_v0"},"workflowInputs":{"mappingMode":"defineBelow","value":{"userPrompt":"={{ $('completa_información_telegram').item.json.userPrompt }}","type":"\"message\"","ai":"\"\"","extract_text":"\"\"","notifyName":"={{ $('completa_información_telegram').item.json.username }}","isGroup":"={{ $('completa_información_telegram').item.json.isGroup.toString() }}","groupName":"={{ $('completa_información_telegram').item.json.groupName }}","from_id":"={{ $('extraer_info_entrada').item.json.from_id }}","autor_id":"={{ $('extraer_info_entrada').item.json.username }}","profile":"\"user_executive\"","bot_id":"={{ $('Call \\'cfg_get_constants\\'').item.json.values.wsp_id }}","channel":"telegram"},"matchingColumns":[],"schema":[{"id":"userPrompt","displayName":"userPrompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ai","displayName":"ai","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"extract_text","displayName":"extract_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_id","displayName":"from_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"autor_id","displayName":"autor_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notifyName","displayName":"notifyName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"isGroup","displayName":"isGroup","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"groupName","displayName":"groupName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"profile","displayName":"profile","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"bot_id","displayName":"bot_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel","displayName":"channel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1936,640],"id":"aafee27c-6af0-425d-a4b2-be1d9414a537","name":"Call 'zeta-alpha_v0'"},{"parameters":{"tableId":"n8n_chat_histories","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $('completa_información_telegram').item.json.wp_id }}"},{"fieldId":"=message","fieldValue":"={{\n  {\n    \"type\": \"ai\",\n    \"content\": $('extraer_info_entrada').item.json.userPrompt,\n    \"additional_kwargs\": {},\n    \"response_metadata\": {}\n  }\n}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3232,1264],"id":"886175ee-2834-4abf-8899-3be721c4d635","name":"Create a row","credentials":{"supabaseApi":{"id":"FDJStbGtc82ixhCc","name":"lacrea account"}},"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ !!$json.photo }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"98b5244f-8989-49ec-9b4e-e2a41804fb9c"}],"combinator":"and"},"renameOutput":true,"outputKey":"PHOTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cb062032-f543-4deb-ae42-54876de76044","leftValue":"={{ !!$json.video }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VIDEO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d6582954-5ce5-4648-8b01-bbbf2a3bafb8","leftValue":"={{ !!$json.location }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"LOCATION"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b585c949-2b6b-49e7-bbe1-d1b162d8878d","leftValue":"={{ !!$json.document }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"DOCUMENTO"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[576,544],"id":"3d6778f7-0fbc-4f84-962c-c5114f062e1c","name":"tipo mensaje"},{"parameters":{"url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/getFile?file_id={{$json.photo[$json.photo.length - 1].file_id}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[848,128],"id":"cf058934-f85a-4094-a5f7-b87598675b28","name":"HTTP Request"},{"parameters":{"url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/{{ $json.result.file_path }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1088,128],"id":"a9f1934c-71d6-4f5f-914c-0e16758120ac","name":"HTTP Request1"},{"parameters":{"jsCode":"// Lee el binario REAL (aunque esté en filesystem-v2) y lo convierte a base64\nconst itemIndex = 0;\nconst binaryProperty = 'data';\n\n// Obtiene el archivo como Buffer\nconst buffer = await this.helpers.getBinaryDataBuffer(itemIndex, binaryProperty);\n\n// Base64 puro\nconst base64 = buffer.toString('base64');\n\n// MimeType (si viene octet-stream, lo ajustamos por extensión)\nlet mimeType = $input.first().binary?.[binaryProperty]?.mimeType || 'application/octet-stream';\nconst fileName = $input.first().binary?.[binaryProperty]?.fileName || 'file';\n\nif (mimeType === 'application/octet-stream' && fileName.toLowerCase().endsWith('.jpg')) mimeType = 'image/jpeg';\nif (mimeType === 'application/octet-stream' && fileName.toLowerCase().endsWith('.jpeg')) mimeType = 'image/jpeg';\nif (mimeType === 'application/octet-stream' && fileName.toLowerCase().endsWith('.png')) mimeType = 'image/png';\n\nconst dataUrl = `data:${mimeType};base64,${base64}`;\n\nreturn [{\n  json: { base64, dataUrl, mimeType, fileName }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,128],"id":"66b8f94d-9ed7-4ffd-a6a7-bf855c046ea0","name":"Code in JavaScript"},{"parameters":{"url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/getFile?file_id={{ $json.video.file_id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[864,320],"id":"c0a26a87-0124-4bbb-931a-e98c030dc974","name":"HTTP Request2"},{"parameters":{"url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/{{ $json.result.file_path }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1088,320],"id":"761870b2-1c13-464e-b7ff-05518b668abe","name":"HTTP Request3"},{"parameters":{"jsCode":"const itemIndex = 0;\nconst binaryProperty = 'data';\n\nconst buffer = await this.helpers.getBinaryDataBuffer(itemIndex, binaryProperty);\nconst base64 = buffer.toString('base64');\n\nlet fileName = $input.first().binary?.[binaryProperty]?.fileName || 'video.mp4';\nlet mimeType = $input.first().binary?.[binaryProperty]?.mimeType || 'application/octet-stream';\n\nconst fn = fileName.toLowerCase();\n\n// Normaliza mime por extensión\nif (mimeType === 'application/octet-stream') {\n  if (fn.endsWith('.mp4')) mimeType = 'video/mp4';\n  else if (fn.endsWith('.mov')) mimeType = 'video/quicktime';\n  else if (fn.endsWith('.webm')) mimeType = 'video/webm';\n}\n\n// ⚠️ Recomendación: si es .mov, intenta tratarlo como video/mp4 SOLO si ya viene MP4 realmente.\n// Si es MOV real, mejor convertir a MP4 (ver punto 4).\nreturn [{ json: { base64, mimeType, fileName } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,320],"id":"259f4c1c-acbd-4f16-b756-7cb6062980ff","name":"Code in JavaScript1"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"valor\":  {{ $json }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1504,496],"id":"552f2fb8-ef82-402c-a1ea-600f0bcd7009","name":"adjunto"},{"parameters":{"url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/getFile?file_id={{ $json.document.file_id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[864,496],"id":"36be600a-c09f-48f6-bee9-72d07aade1c1","name":"HTTP Request4"},{"parameters":{"url":"={{ $('extraer_info_entrada').item.json.url_base_tgrm }}/{{ $json.result.file_path }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1088,496],"id":"8b2246ca-abaa-45b8-ba42-bf89eca23e9e","name":"HTTP Request5"},{"parameters":{"jsCode":"const itemIndex = 0;\nconst binaryProperty = 'data';\n\nconst buffer = await this.helpers.getBinaryDataBuffer(itemIndex, binaryProperty);\n\nconst base64 = buffer.toString('base64');\n\n// nombre/mime desde binario\nlet fileName = $input.first().binary?.[binaryProperty]?.fileName || 'file';\nlet mimeType = $input.first().binary?.[binaryProperty]?.mimeType || 'application/octet-stream';\n\n// si Telegram te trae el nombre real en message.document.file_name,\n// puedes pasarlo en el flujo (recomendado)\nif ($json?.message?.document?.file_name) fileName = $json.message.document.file_name;\nif ($json?.message?.document?.mime_type) mimeType = $json.message.document.mime_type;\n\n// fallback por extensión\nconst fn = String(fileName).toLowerCase();\nif (mimeType === 'application/octet-stream') {\n  if (fn.endsWith('.mp4')) mimeType = 'video/mp4';\n  else if (fn.endsWith('.mov')) mimeType = 'video/quicktime';\n  else if (fn.endsWith('.jpg') || fn.endsWith('.jpeg')) mimeType = 'image/jpeg';\n  else if (fn.endsWith('.png')) mimeType = 'image/png';\n  else if (fn.endsWith('.pdf')) mimeType = 'application/pdf';\n}\n\nreturn [{ json: { base64, mimeType, fileName } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,496],"id":"9bfd90ed-1966-4b51-846f-5d06ab24cc74","name":"Code in JavaScript2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fdca40fa-2abd-4065-955b-753a025eb5b9","leftValue":"={{ !!$json.userPrompt }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[784,960],"id":"d6526a61-1eb1-401d-ad1d-6e1a613644ed","name":"trae mensaje"},{"parameters":{"workflowId":{"__rl":true,"value":"05qK2yenVfUp9MxQ","mode":"list","cachedResultUrl":"/workflow/05qK2yenVfUp9MxQ","cachedResultName":"cfg_get_constants"},"workflowInputs":{"mappingMode":"defineBelow","value":{"channel":"telegram","id_bot":"={{ $json.message.chat.id.toString() }}"},"matchingColumns":[],"schema":[{"id":"id_bot","displayName":"id_bot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel","displayName":"channel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-160,976],"id":"dab3b2f4-bbcb-444c-93ea-8ed4fbdae471","name":"cfg_get_constants"}],"connections":{"¿Menciona bot?":{"main":[[{"node":"reacciona_a_msj","type":"main","index":0}],[{"node":"get_estado_bot","type":"main","index":0}]]},"get_info_user_telegram":{"main":[[{"node":"completa_información_telegram","type":"main","index":0}]]},"completa_información_telegram":{"main":[[{"node":"¿Menciona bot?","type":"main","index":0}]]},"extraer_info_entrada":{"main":[[{"node":"tipo mensaje","type":"main","index":0}]]},"¿NO existe wp id?1":{"main":[[{"node":"msj_usuario_no_encontrado","type":"main","index":0}],[{"node":"Call 'send_message_wsp'","type":"main","index":0}]]},"msj_usuario_no_encontrado":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"¿bot activo?":{"main":[[{"node":"¿Mantiene el bot activado?","type":"main","index":0}],[{"node":"¿NO existe wp id?1","type":"main","index":0}]]},"get_estado_bot":{"main":[[{"node":"¿bot activo?","type":"main","index":0}]]},"respuesta":{"main":[[{"node":"activa","type":"main","index":0}],[{"node":"desactiva","type":"main","index":0}]]},"upd_bot_activate":{"main":[[{"node":"mensaje_estado_del_bot","type":"main","index":0}]]},"mensaje_estado_del_bot":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"¿Mantiene el bot activado?":{"main":[[{"node":"¿NO existe wp id?1","type":"main","index":0}]]},"extrae_informacion":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"get_estado_bot1":{"main":[[{"node":"extrae_informacion","type":"main","index":0}]]},"desactiva":{"main":[[{"node":"upd_bot_activate","type":"main","index":0}]]},"activa":{"main":[[{"node":"upd_bot_activate","type":"main","index":0}]]},"Switch":{"main":[[{"node":"get_estado_bot1","type":"main","index":0}],[{"node":"extraer_info_entrada","type":"main","index":0}]]},"Telegram_Trigger":{"main":[[{"node":"cfg_get_constants","type":"main","index":0}]]},"get_estado_bot2":{"main":[[{"node":"¿bot activo?1","type":"main","index":0}]]},"¿bot activo?1":{"main":[[],[{"node":"¿Mantiene el bot activado?1","type":"main","index":0}]]},"Call 'send_message_wsp'":{"main":[[{"node":"reacciona_ok","type":"main","index":0}]]},"Call 'zeta-alpha_v0'":{"main":[[{"node":"get_estado_bot2","type":"main","index":0}]]},"reacciona_ok":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"tipo mensaje":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}],[],[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"trae mensaje","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"adjunto","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"adjunto","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"adjunto","type":"main","index":0}]]},"adjunto":{"main":[[{"node":"get_info_user_telegram","type":"main","index":0}]]},"reacciona_a_msj":{"main":[[{"node":"Call 'zeta-alpha_v0'","type":"main","index":0}]]},"trae mensaje":{"main":[[{"node":"get_info_user_telegram","type":"main","index":0}]]},"cfg_get_constants":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"authors":"admin lacrea","name":"Version c9314672","description":"","autosaved":true},"tags":[]}